@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or your main CSS file */
body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

:root {
  --background-light: #ffffff;
  --text-light: #333333;
  --background-dark: #121212;
  --text-dark: #f0f0f0;
}

.rotating-image {
  display: inline-block; 
  animation: spin 180s linear infinite; 
}

@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(-360deg); 
  }
}

.semi-rotating-image {
  display: inline-block; 
  animation: spinBackAndForth 6s ease-in-out infinite; 
}

@keyframes spinBackAndForth {
  0% {
    transform: rotate(0deg); 
  }
  50% {
    transform: rotate(10deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

.images {
  width: 6rem;
  height: 3rem;
}


